<!-- <div class="menubar">
  @if (isAuthenticated$ | async) {
  <div>
    <nav class="menu routes">
      <a routerLink="/">Home</a>
      <a routerLink="/profile">Profile</a>
      <a routerLink="/protected">Protected</a>
      <a routerLink="/protected/app-appointment-form">Appointment</a>
      <a routerLink="/protected/patient">Patient list</a>      
      <a routerLink="/protected/doctor">Doctor Management</a>
    </nav>
  </div>
  <a class="auth" (click)="signOut()">Sign out</a>
  } @else {
    <div>
  <a class="auth" (click)="signIn()">Sign in</a>
  <nav class="routes">
    {{str}}
    <a routerLink="/home">Home</a>
    <a routerLink="/aboutus">About Us</a>
  </nav>
</div>

  }
</div> -->
@if (isAuthenticated$ | async) {
  <div class="flex-end">
    <a class="auth" (click)="signOut()">Sign out</a>
  </div>
<mat-toolbar color="primary">
  <span>Hospital Management System</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/">Home</button>
  <button mat-button routerLink="/profile">Profile</button>
  <button mat-button routerLink="/protected">Protected</button>
  <button mat-button routerLink="/protected/app-appointment-form">Appointment</button>
  <button mat-button routerLink="/protected/patient">Patient list</button>      
  <button mat-button routerLink="/protected/doctor">Doctor Management</button>
  <button mat-button routerLink="/protected">Products</button>
  <button mat-button routerLink="/protected/app-email-form">Email</button>
  <button mat-button>Contact</button>
</mat-toolbar>
} @else {
  <div class="flex-end">
    <a class="auth" (click)="signIn()">Sign in</a>
  </div>
  <mat-toolbar color="primary">
    <span>Hospital Management System</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/home">Home</button>
    <button mat-button routerLink="/aboutus">About Us</button>
  </mat-toolbar>
}


<!-- <p>Learn more about Okta at <a href="https://developer.okta.com">developer.okta.com</a></p> -->
<!-- @if(isSliderVisible){
<div>
  <iframe src="../assets/slider.html" width="100%" height="480"></iframe>
</div>
} -->

<router-outlet></router-outlet>